* {
    margin: 0;
    padding: 0;
    border: 0;
}

.logo {
    color: #fcfcfc;
    font-size: 70px;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

.icons a i {
    color:#FFFFFF;
    font-size: 40px;
}

ul li a {
    color: #FFFFFF !important;
}

.bg-purple{
    background: #770099;
}

.hero {
    background-image: url(../img/coviBanner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 10rem;
    height: 40em;
  }

hr {
    border: solid 1px;
    width: 65%;
    margin: auto;
    color: #FFFFFF;
}



.experiencieSection {
    color: #9C27B0;
    width: 60%;
}
.experiencieSection1 {
    color: #9C27B0;
    width: 58%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #500050;
    border: solid 2px #FFFFFF;
}

.imgs {
    width: 700px;
    height: 350px;
}

.questions {
    width: 90vw;
    height: 400px;

}

#Experiencie i {
    font-size: 100px;
}

.fa-js-square {
    color: yellow;
}

.fa-angular {
    color: red;
}

.fa-java {
    color:#202020
}

textarea {
    resize: none;
}

body h2, h4, h5 {
    font-family: 'Miriam Libre', sans-serif;
}

h1, h3 {
    font-family: 'Sansita Swashed', cursive;

}

.indieFlower {font-family: 'Indie Flower', cursive; font-weight:400; font-size: large;}

.sansitaSwashed {font-family: 'Sansita Swashed', cursive;}


.dark-primary-color    { background: #7B1FA2; }
.default-primary-color { background: #9C27B0; }
.light-primary-color   { background: #E1BEE7; }
.accent-color, .btn-pink { background: #FF4081; color:  #E1BEE7;}
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }

